chi square test is calculated between feature that have no nogetive values and target variable
     This score is used to evaluate <b>categorical variable in a classification task</b> This score can be used to select        the n_features features with the highest values for the test chi-squared statistic from X, which must contain        only non-negative features such as booleans or frequencies (e.g., term counts in document classification),          relative to the classes.
     
Recall that the chi-square test measures dependence between stochastic variables, so using this function “weeds      out” the features that are the most likely to be independent of class and therefore irrelevant for                  classification. The Chi Square statistic is commonly used for testing relationships between categorical              variables.

It compares the observed distribution of the different classes of target Y among the different categories of        the feature, against the expected distribution of the target classes, regardless of the feature categories.
     
     Statistical test: https://www.youtube.com/watch?v=4-rxTA_5_xA
                       https://www.youtube.com/watch?v=YrhlQB3mQFI

In [1]:
import seaborn as sns
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
##['sex','embarked','alone','pclass','Survived']
# before applying chi square test we have to first use label encoding
df=df[['sex','embarked','alone','pclass','survived']]
df.head()

      sex embarked  alone  pclass  survived
0    male        S  False       3         0
1  female        C  False       1         1
2  female        S   True       3         1
3  female        S  False       1         1
4    male        S   True       3         0

In [4]:
### Let's perform label encoding on sex column
import numpy as np
df['sex']=np.where(df['sex']=="male",1,0)
### let's perform label encoding on embarked
ordinal_label = {k: i for i, k in enumerate(df['embarked'].unique(), 0)}
df['embarked'] = df['embarked'].map(ordinal_label)
### let's perform label encoding on alone
df['alone']=np.where(df['alone']==True,1,0)
df.head()

   sex  embarked  alone  pclass  survived
0    1         0      0       3         0
1    0         1      0       1         1
2    0         0      1       3         1
3    0         0      0       1         1
4    1         0      1       3         0

In [5]:
### train Test split is usually done to avaoid overfitting
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df[['sex','embarked','alone','pclass']],
                                              df['survived'],test_size=0.3,random_state=100)
X_train.head()

     sex  embarked  alone  pclass
69     1         0      0       3
85     0         0      0       3
794    1         0      1       3
161    0         0      1       2
815    1         0      1       1

In [6]:
## Perform chi2 test
### chi2 returns 2 values
### Fscore and the pvalue
# more higher the f score more important the feature is, lower in case of p value
from sklearn.feature_selection import chi2
f_p_values=chi2(X_train,y_train)
f_p_values # first array f score , p value

(array([65.67929505,  7.55053653, 10.88471585, 21.97994154]),
 array([5.30603805e-16, 5.99922095e-03, 9.69610546e-04, 2.75514881e-06]))

In [7]:
import pandas as pd
p_values=pd.Series(f_p_values[1],index=X_train.columns) # pandas has 2 data structure - series,dataframe
p_values

sex         5.306038e-16
embarked    5.999221e-03
alone       9.696105e-04
pclass      2.755149e-06
dtype: float64

In [8]:
p_values.sort_index(ascending=False)

sex         5.306038e-16
pclass      2.755149e-06
embarked    5.999221e-03
alone       9.696105e-04
dtype: float64

In [9]:
f_score=pd.Series(f_p_values[0],index=X_train.columns) # pandas has 2 data structure - series,dataframe
f_score.sort_index(ascending=False)

sex         65.679295
pclass      21.979942
embarked     7.550537
alone       10.884716
dtype: float64

## Observation
sex column is the most important column when compared to the output feature

### F-score ( Fisher score )

Fisher score is one of the most widely used supervised feature selection methods . However it selects each feature independently according to score under the feature criterion , which finds a suboptimal subset of features